NEXT_PUBLIC_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlZmNiOWM2MmIzZTU1ZDAwMDg3Yzg1YWYyMDYwYTJlYiIsIm5iZiI6MTc4NTEzOTkzMC4xMTMsInN1YiI6IjZhNjcxMmRhM2MxZDU3ODdmNmIzNDZkYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3vsh8RvxY98-ccjNZ0nP1GCxp2kGyVpiSaLWOfd_Wt8
NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p